<%- include('partials/header'); -%>

<header>
  <div class="auth_tester">
    <img src="/logo.PNG" alt="" />
  </div>
  <div class="headings">
    <h2>Auth Testing Services</h2>
    <h3>By Auth Tester</h3>
    <a href="/services" class="btn">View Services</a>
  </div>
</header>

<%- include('partials/footer'); -%>
