<%- include('partials/header'); -%>

<ul class="services">
  <li class="service">
    <img src="/services.PNG" alt="services icon" />
    <h4>XML Interface for Network Services</h4>
    <p>BSD Licenses</p>
  </li>
  <li class="service">
    <img src="/services.PNG" alt="services icon" />
    <h4>Web Services Invocation Framework</h4>
    <p>Apache License</p>
  </li>
  <li class="service">
    <img src="/services.PNG" alt="services icon" />
    <h4>Apache Axis2</h4>
    <p>Apache License</p>
  </li>
  <li class="service">
    <img src="/services.PNG" alt="services icon" />
    <h4>Apache CXF</h4>
    <p>Apache License</p>
  </li>
  <li class="service">
    <img src="/services.PNG" alt="services icon" />
    <h4>Hessian</h4>
    <p>Apache License</p>
  </li>
  <li class="service">
    <img src="/services.PNG" alt="services icon" />
    <h4>SoapUI</h4>
    <p>GNU Lesser GPL</p>
  </li>
</ul>

<%- include('partials/footer'); -%>
